.FreeCAD/
.PrusaSlicer/
.cache/
.config/
.eclipse/
.gitconfig
.gnupg/
.java/
.kodi/
.local/
.log/
.matlab/
.mozilla-backup/
.mozilla/
.oh-my-zsh/
.p2/
.pki/
.python_history
.putty/
.script/backup_b2.sh
.script/backup_mega.sh
.ssh/
.subversion/
.swt/
.tooling/
.viminfo
.vnc/
.zcompdump*
.zsh_history
Desktop/
Documenti/
Downloads/
Immagini/
old.home/
