.ICEauthority
.Skype/
.bzr.log
.cache/
.config/
.esd_auth
.gitconfig
.local/
.mozilla/
.oh-my-zsh/
.pki/
.tmux/
.yaourtrc
.wget-hsts
.zcompdump-dreamspark-5.3.1
.zsh-update
.zsh_history
Documenti/
Downloads/
Immagini/
