[Unit]
Description=Snap Settimanale - Ogni Venerdì alle 00:00:00

[Timer]
OnCalendar=Fri *-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target
