[Unit]
Description=Snap Settimanale - Ogni Venerdì alle 00:00:00

[Timer]
OnCalendar=Fri *-*-* 00:00:00
Unit=btrfs_snap.service
Persistent=true

[Install]
WantedBy=timers.target
