#!/usr/bin/env xdg-open

[Desktop Entry]
Version=2020a
Type=Application
Terminal=true
MimeType=text/x-matlab
Exec=/home/bcclsn/.script/matlab.sh
Name=MATLAB
Icon=/home/bcclsn/.icons/matlab_logo.png
Categories=Development;Math;Science
Comment=Scientific computing environment
StartupNotify=true

## terminal false with zenity script
