[Desktop Entry]
Name=License Monitor
Exec=env WINEPREFIX="/home/bcclsn/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/bcclsn/.wine/dosdevices/c:/users/bcclsn/Start\\ Menu/Programs/PSIM\\ 10.0.6\\ \\(softkey\\)\\ 64-bit/License\\ Monitor.lnk
Type=Application
StartupNotify=true
Icon=E8A7_PsimMonitor.0
StartupWMClass=psimmonitor.exe
