[Desktop Entry]
Name=PSIM 10.0 (Admin mode) 64-bit
Exec=env WINEPREFIX="/home/bcclsn/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/bcclsn/.wine/dosdevices/c:/users/bcclsn/Start\\ Menu/Programs/PSIM\\ 10.0.6\\ \\(softkey\\)\\ 64-bit/PSIM\\ 10.0\\ \\(Admin\\ mode\\)\\ 64-bit.lnk
Type=Application
StartupNotify=true
Icon=EB6A_IconD9A8051D.1
StartupWMClass=psimadmin.exe
