#!/usr/bin/env xdg-open

[Desktop Entry]
Version=20.3.x
Name=ChibiStudio
Comment=bcclsn
Exec=sh /home/bcclsn/Desktop/ChibiStudio/ChibiStudio-GCC9.2.1
Icon=/home/bcclsn/Desktop/ChibiStudio/eclipse/icon.xpm
Terminal=false
Type=Application
Categories=Utility;Application;
Name[it_IT]=ChibiStudio
