#!/usr/bin/env xdg-open

[Desktop Entry]
Name=FreeCAD
Comment=bcclsn
#Exec=/usr/src/FreeCAD_0.18.AppImage
Exec=freecad
Icon=/home/bcclsn/.icons/freecad_icon.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[it_IT]=FreeCAD
