[Desktop Entry]
Version=1.0
Name=Slack
Comment=Slack Desktop
GenericName=Slack Client Web Browser
#Exec=/usr/bin/microsoft-edge-dev %U --app=https://3drap.slack.com/
Exec=/usr/bin/google-chrome-stable %U --app=https://3drap.slack.com/
Icon=/home/bcclsn/.icons/slack.png
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;WebBrowser;InstantMessaging;
MimeType=x-scheme-handler/slack;
