#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=System Workbench
Comment=bcclsn
Exec=/usr/src/SystemWorkbench/eclipse
Icon=/usr/src/SystemWorkbench/logo_openstm32.ico
Terminal=false
Type=Application
Categories=Utility;Application;
Name[it_IT]=System Workbench
