#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=gtkterm
Comment=bcclsn
Exec=gtkterm
Icon=/usr/share/icons/Paper/512x512@2x/apps/gaupol.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[it_IT]=gtkterm
