#!/usr/bin/env xdg-open

[Desktop Entry]
Version=2.1.1
Name=PrusaSlicer
Comment=bcclsn
Exec=prusa-slicer
Icon=/home/bcclsn/Downloads/prusaslicer_icon.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[it_IT]=PrusaSlicer
