#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Random Wallpaper Changer
Comment=bcclsn
Exec=~/.script/wallpaper_changer.sh
Icon=~/.icons/luminance-hdr.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name[it_IT]=Random Wallpaper Changer
